@import "~reset-css/reset.css";

:root{
    --black: #000;
    --red: #f11039;
    --primary: #22A7F0;
    --primary-opaque: rgba(34, 167, 240, .12);
    --size: 16px;
    --white: #fff;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--black);
    font-size: var(--size);
    height: 100%;
}

a{
    color: var(--primary);

    &:focus{
        color: var(--red);
    }
}
